template_path: bridge-exporter.yaml
stack_name: bridge-exporter-develop
parameters:
  AttachmentsBucket: org-sagebridge-attachment-devdevelop
  AwsDefaultVpcId: vpc-f389e98a
  AwsSnsNotificationEndpoint: bridge-exporter-develop@sagebase.org
  BridgeEnv: dev
  BridgeUser: heroku
  BridgeWorkerEmail: bridgeit+exporter@sagebase.org
  BridgeWorkerStudy: api
  BridgeWorkerPassword: !ssm /bridge-exporter-develop/BridgeWorkerPassword
  EC2InstanceType: t2.small
  Env: develop
  ExporterSqsQueueUrl: https://sqs.us-east-1.amazonaws.com/420786776710/Bridge-EX-Request-develop
  NewRelicAppName: bridge-exporter-develop
  NewRelicLicenseKey: !ssm /infra/NewRelicLicenseKey
  RecordIdsBucket: org-sagebridge-exporter-recordids-devdevelop
  S3NotificationSqsQueueUrl: https://sqs.us-east-1.amazonaws.com/420786776710/Bridge-UploadComplete-Notification-develop
  SynapseApiKey: !ssm /bridge-exporter-develop/SynapseApiKey
  SynapseAccessToken: !ssm /bridge-exporter-develop/SynapseAccessToken
  SynapseGetColumnModelsRateLimitPerMinute: '6'
  SynapsePrincipalId: '3330889'
  SynapseStorageLocationId: '41270'
  SynapseUser: BridgeExporterDev
  ThreadPoolWorkerCount: '4'
